@{
        Layout = null;

        var seriesTitle = "The Amazing Spiderman";
        var issueNumber = 700;
        var description = "<p>Final issue! Witness the final hours of Doctor Octopus' life and his one, last, great act of revenge! Even if Spiderman survives...<strong>will Peter Parker?</strong><p>";

        var artists = new string[]
        {
            "Script: Dan Slott",
            "Pencils: Humberto Ramos",
            "Inks: Victor Olazba",
            "Colors: Edgar Delgado",
            "Letters: Chris Elipolous"
        };
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
    <h1>Hello from our view!</h1>
        <h1>@seriesTitle</h1>
        <h2>Isssue# @issueNumber</h2>

        <h5>Description</h5>
        <div>@Html.Raw(description)</div>

        <h5>Artists:</h5>
        <div>@artists</div>
    </div>
</body>
</html>
